@-webkit-keyframes orbMove { from { margin-left:0%; } to { margin-left:100%; }  }
@-moz-keyframes orbMove { from { margin-left:0%; } to { margin-left:100%; }  }
@-o-keyframes orbMove { from { margin-left:0%; } to { margin-left:100%; }  }
@keyframes orbMove { from { margin-left:0%; } to { margin-left:100%; }  }

#grass {
	position: fixed;
	bottom: 0;
	z-index: 3;
}
#sky {
	position: absolute;
	top: 0;
	z-index: 0;
}
#clouds {
	position: fixed;
	top: 0;
	width: 100%;
	height: 50%;
	z-index: 3;
}
#leaves {
	position: absolute;
	right: -11px;
	bottom: -8px;
	width: 56%;
	height: 60%;
	z-index: 12;
}	
.fog{
	-webkit-transform: translate3d(0,0,0);
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: whitesmoke;
	opacity: .5;
	-webkit-filter: blur(200px);
	z-index: 19;
}
#orb {
	position: absolute;
	top: 40px;
	left: 65%;
	z-index: 2;
}
#stars {
	display: none;
	z-index: 1;
}	
img#flowers{
	position: absolute;
	bottom: 3.7%;
	left: 19%;
	width: 19%;
	height: 9%;
	z-index: 18;
}
img#temperateTrees {
	position: absolute;
	right: 5%;
	bottom: 2%;
	width: 40%;
	height: 50%;
	z-index: 7;
}
img#palmTree {
	position: absolute;
	z-index: 7;
	right: 10%;
	bottom: 5%;
	width: 18%;
	height: 42%;
}
img#temperateTreeLeaves {
	position: absolute;
	z-index: 8;
	left: 11.1%;
	bottom: 48%;
	width: 82%;
	height: 60%;
}

