modal {
		display: none;
		background-color: whitesmoke;
		margin: 0;
		opacity: .9;
		width: 60%;
		height: 80%;
		border-radius: 18px;
		position: fixed;
		bottom: 15%;
		left: -10%;
		z-index: 8;
	p {
		font-size: 24px;
		text-align: center;
		color: firebrick;
	}
	#exit{
		position: absolute;
		top: 5%;
		right: 5%;
		color: firebrick;
		font-family: Quicksand;
		font-size: 20px;
		&:hover {
			color: indianred;
			cursor: pointer;
		}
	}
	#loginForm {
		display: inline-block;
		position: absolute;
		top: 15%;
		left: 20%;
		color: dimgray;
		opacity: 1;
		z-index: 60;
	}
	#or{
		display: inline-block;
		position: absolute;
		top: 30%;
		left: 53%;
		color: dimgray;
		opacity: 1;
		z-index: 60;
	}
	#registerForm {
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 20%;
		color: dimgray;
		opacity: 1;
		z-index: 60;
	}
	#userView {
		display: inline-block;
		position: relative;
		width: 44%;
		height: 67%;
		position: fixed;
		bottom: 15%;
		z-index: 30;
		#userName {
			overflow: visible;
			position: absolute;
			top: -10%;
			left: 40%;
			margin: 0 auto;
			font-size: 20px;
			color: dimgray;
			font-weight: 400;
			opacity: 1;
			width: 75%;
			height: 20px;
		}
		div.locationsContainer{
			overflow: auto;
			position: absolute;
			left: 40%;
			margin: 0 auto;
			color: black;
			opacity: 1;
			width: 100%;
			height: 75%;
			#deleteLocationButton{
				background-color: red;
			}
		}
	}
	#searchResults {
		display: inline-block;
		position: relative;
		overflow: auto;
		top: 25%;
		width: 50%;
		height: 65%;
		margin: 0 auto;
		color: black;
		opacity: 1;
		z-index: 30;
	}
}