// animation for rain
@-webkit-keyframes fall {
	to {margin-top:900px;}
}
@-moz-keyframes fall {
	to {margin-top:900px;}
}


// animation for snow
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	
// rain
.rain {
	-webkit-transform: translate3d(0,0,0);
	.rainDrop {
	  background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(105,105,105,.9) ), to(rgba(211,211,211,0.4))  );
	  background: -moz-linear-gradient(top, rgba(105,105,105,.9) 0%, rgba(211,211,211,.4) 100%);
		width:1px;
		height:30px;
		position: absolute;
		bottom:200px;
		-webkit-animation: fall .5s linear infinite;
	  -moz-animation: fall .5s linear infinite;
	  z-index: 20;
	}
}
.snow{
	display: none;
	background: none;
	background-image: url('/assets/images/snow_1.png'), 
										url('/assets/images/snow_2.png'), 
										url('/assets/images/snow_3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
.lightning{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(255,255,224,.9) ), to(rgba(255,255,224,0.2))  );
	background: -moz-linear-gradient(top, rgba(255,255,224,.9) 0%, rgba(255,255,224,.2) 100%);
	z-index: -6;
}
.blizzard{
	display: none;
	background: none;
	background-image: url('/assets/images/snow_1.png'), 
										url('/assets/images/snow_2.png'), 
										url('/assets/images/snow_3.png'),
										url('/assets/images/snow_4.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 3s linear infinite;
	-moz-animation: snow 3s linear infinite;
	-ms-animation: snow 3s linear infinite;
	animation: snow 3s linear infinite;
}
