/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "canvas";
@import "modals";
@import "weather";
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

body {
	margin: 0;
	background-color: transparent;
	font-family: Quicksand;
	font-weight: 300;
	.tempDisplay{
		position: absolute;
		right: 5%;
		top: 5%;
		width: 20%;
		height: 30%;
		text-align: right;
		z-index: 100;
		font-weight: 400;
		h1 {
			width: 100%;
			height: auto;
			font-weight: 400;
			font-size: 64px;
			line-height: 70%;
			color: whitesmoke;
		}
		h2 {
			height: auto;
			font-weight: 400;
			font-size: 20px;
			line-height: 5%;
			color: whitesmoke;
		}
		h3 {
			font-weight: 400;
			height: auto;
			font-size: 18px;
			line-height: 5%;
			color: whitesmoke;
		}
		p {
			font-weight: 400;
			height: auto;
			font-size: 14px;
			line-height: 10%;
			color: whitesmoke;
		}
	}
	.menuDiv {
		position: absolute;
		height: 5%;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 30;
		h1 {
			display: inline-block;
			position: fixed;
			margin: 0;
			padding-right: 18px;
			left: 20px;
			line-height: 150%;
			font-family: Quicksand;
			font-weight: 300;
			font-size: 52px;
			color: whitesmoke;
		}
		h2 {
			display: inline-block;
			position: relative;
			margin-top: 37px;
			padding-right: 12px;
			left: 422px;
			font-weight: 400;
			font-size: 18px;
			cursor: pointer;
			color: whitesmoke;
		}
		h3 {
			display: inline-block;
			position: relative;
			margin-top: 20px;
			left: 25px;
			font-weight: 400;
			font-size: 24px;
			cursor: pointer;
			color: whitesmoke;
		}
	#savedLocations{
		width: 20%;
		margin: 0;
		position: fixed;
		top: 101px;
		h3{
			&:hover{
					color: forestgreen;
					cursor: pointer;
			}
		}
	}	
	#search-form{
		input {
			border-radius: 8px;
			display: inline;
			position: fixed;
			top: 65px;
			left: 23px;
			font-family: Quicksand;
			font-weight: 300;
			font-size: 24px;
			padding-top: 8px;
			margin-bottom: 8px;
			margin-top: 8px;
			background-color: transparent;
			border: 1px solid whitesmoke;
			opacity: 1;
			color: whitesmoke;
		}
	}	
		#search-button {
			border-radius: 8px;
			display: inline;
			position: fixed;
			top: 65px;
			left: 325px;
			font-family: Quicksand;
			font-weight: 300;
			font-size: 24px;
			padding-top: 4px;
			padding-bottom: 5.5px;
			margin-bottom: 8px;
			margin-top: 8px;
			background-color: transparent;
			border: 1px solid whitesmoke;
			opacity: 1;
			cursor: pointer;
			color: whitesmoke;
		}
		#search-button:hover {
		  border: none;
		  color: dimgray;
		  background-color: whitesmoke;
		  box-shadow: 0px 0px 1px #777;
		}
		::-webkit-input-placeholder { /* WebKit browsers */
    	color: whitesmoke;
    	padding-left: 2px;
    	font-family: Quicksand;
			font-weight: 300;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			color: whitesmoke;
			font-family: Quicksand;
			padding-left: 2px;
			font-weight: 300;
			opacity:  1;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
		  color: whitesmoke;
		  font-family: Quicksand;
		  padding-left: 2px;
			font-weight: 300;
		  opacity: 1;
		}
		:-ms-input-placeholder { /* Internet Explorer 10+ */
		  color: whitesmoke;
		  font-family: Quicksand;
		  padding-left: 2px;
			font-weight: 300;
		}
	}
}	