<!DOCTYPE html>
<html>
<head>
  <title>WeatherScapeApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon.ico' %>
</head>
<body>
	<modal id="searchResultsModal">
    <div id="searchResults"></div>
  </modal>
  <modal id="registerLoginModal">
    <div id="loginForm"></div>
      <div><h2>or</h2></div>
    <div id="registerForm"></div>
  </modal>
  <modal id="userViewModal"></modal>
  <modal id="demoModal">
    <div id='exit'>x close</div>
    <h1 id="demo">demo mode</h2>
    <div id="demo-container">  
      <div id="demo seasons">
        <h2 id="demo">seasons<h2>
        <button id="demo-winter">winter</button>
        <button id="demo-spring">spring</button>
        <button id="demo-summer">summer</button>
        <button id="demo-fall">fall</button>
        <button id="demo-tropical">tropical</button>
        <button id="demo-arctic">arctic</button>
      </div>  
      <div id="demo time-of-day">  
        <h2 id="demo">time of day<h2>
        <button id="demo-day">day</button>
        <button id="demo-dusk">dusk</button>
        <button id="demo-night">night</button>
        <button id="demo-dawn">dawn</button>
      </div>  
      <div id="demo weather">  
        <h2 id="demo">weather<h2>
        <button id="demo-clear">clear-skies</button>
        <button id="demo-partly-cloudy">partly-cloudy</button>
        <button id="demo-cloudy">cloudy</button>
        <button id="demo-overcast">overcast</button>
        <button id="demo-rain">rain</button>
        <button id="demo-heavy-rain">heavy-rain</button>
        <button id="demo-rain-storm">rain-storm</button>
        <button id="demo-sleet">sleet</button>
        <button id="demo-snow">snow</button>
        <button id="demo-blizzard">blizzard</button>
        <button id="demo-fog">fog</button>      
      </div>
      <div id="demo reset">  
        <h2 id="demo">reset<h2>
        <button id="demo-reset">reset</button>
      </div>  
    </div>   
  </modal>
  <div class="tempDisplay"></div>

	<canvas id="orb"></canvas>
  <canvas id="sky"></canvas>
  <canvas id="grass"></canvas>
  <canvas id="clouds"></canvas>
  <div class="fog"></div>
  <div class="lightning"></div>
  <div class="rain"></div>
  <div class="snow"></div>
  <div class="blizzard"></div>
	<div class="treeDiv"></div>
  <div id="leaves"></div>
	<div class="menuDiv"></div>

</body>
</html>
