<!DOCTYPE html>
<html>
<head>
  <title>WeatherScapeApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon.ico' %>
</head>
<body>
	<modal id="searchResultsModal">
    <div id="searchResults"></div>
  </modal>
  <modal id="registerLoginModal">
    <div id="loginForm"></div>
      <div><h2>or</h2></div>
    <div id="registerForm"></div>
  </modal>
  <modal id="userViewModal"></modal>
  <div class="tempDisplay"></div>

	<canvas id="orb"></canvas>
  <canvas id="sky"></canvas>
  <canvas id="grass"></canvas>
  <canvas id="clouds"></canvas>
  <div class="fog"></div>
  <div class="lightning"></div>
  <div class="rain"></div>
  <div class="snow"></div>
  <div class="blizzard"></div>
	<div class="treeDiv"></div>
  <div id="leaves"></div>
	<div class="menuDiv"></div>

</body>
</html>
